.talk-stream-tab-container.Stream__tabContainer___2trkn {
  min-height: auto ;   
}
body {
  padding-bottom: 0;
}
.Comment__tagsContainer___3_las.talk-stream-comment-header-tags-container {
  display: none;
}
.talk-tab-bar.TabBar__root___15OQR {
  display: none;
}
.talk-stream-comment-actions-container {
  display: flex;
  justify-content: flex-end;
}
.talk-embed-stream-comment-actions-container-left.commentActionsLeft.comment__action-container {
  float: none;
}
.talk-stream-comment-wrapper.Comment__rootLevel0___1rJSw {
  border-top: none;
}
.talk-stream-comment > div {
  display: inline-block;
  vertical-align: top;
}
.talk-stream-comment-avatar.talk-slot-comment-avatar {
  height: 75px;
  width: 75px;
  max-width: none;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 17px;
}
.talk-stream-comment-avatar.talk-slot-comment-avatar > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  margin: 0;
}
.talk-stream-comment-wrapper.talk-stream-comment-wrapper-level-1 {
  margin-left: 92px;
}
.talk-stream-comment.talk-stream-comment-level-1 {
  border-left: 1px #d3d3d3 solid;
}
.talk-stream-comment.talk-stream-comment-level-1 > .talk-stream-comment-avatar.talk-slot-comment-avatar {
  margin-left: 25px;
}