.talk-stream-tab-container.Stream__tabContainer___2trkn {
  min-height: auto ;   
}
body {
  padding-bottom: 0;
}
.Comment__tagsContainer___3_las.talk-stream-comment-header-tags-container {
  display: none;
}
.talk-tab-bar.TabBar__root___15OQR {
  display: none;
}
.talk-stream-comment-actions-container {
  display: flex;
  justify-content: flex-end;
}
.talk-embed-stream-comment-actions-container-left.commentActionsLeft.comment__action-container {
  float: none;
}
.talk-stream-comment.Comment__rootLevel0___1rJSw {
  border-top: none;
}